<footer>
    <div class="pre-footer">
        <p>Una empresa del grupo Intec</p>
        <img src="images/logo-grupo-intec.svg" alt="Grupo Intec" width="180">
        <div class="logos">
            <img src="images/logo-pampa-grupo-intec.svg" alt="Pampa Ingeniería de Grupo Intec" width="100">
            <img src="images/logo-lumi-grupo-intec.svg" alt="Lumi Construcciones de Grupo Intec" width="100">
            <img src="images/logo-local-partner-grupo-intec.svg" alt="Local Partner de Grupo Intec" width="122">
            <img src="images/logo-eco-ambiente-grupo-intec.svg" alt="Eco Ambiente de Grupo Intec" width="123">
        </div>
    </div>
    <div class="footer">
        <div class="telefono">
            <img src="images/telefono.svg" alt="Llamanos por telefono" width="19">
            <p>(0221) 444-4444 | (0221) 155-555555</p>
        </div>
        <div class="mail">
            <img src="images/mail.svg" alt="Contactanos por mail" width="19">
            <p>mail@correoelectronico.com.ar</p>
        </div>
        <div class="direccion">
            <img src="images/direccion.svg" alt="Direccion Pampa Ingeniería" width="19">
            <p>Av. Direccion 123. La Plata, Buenos Aires</p>
        </div>
        <div class="redes">
            <img src="images/instagram.svg" alt="Seguinos en Instagram" width="19">
            <img src="images/facebook.svg" alt="Seguinos en Facebook" width="19">
            <img src="images/linkedin.svg" alt="Seguinos en Linkedin" width="19">
        </div>
    </div>
</footer>