<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body id="p_404">
        <div>
            <img src="/images/404.png" alt="Pagina no encontrada">
        </div>
    </body>
</html>