<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <main>
        <div class="principal">
            <%- include('partials/carousel') %>
            <div class="d-block d-sm-block d-md-none">
                <div class="presupuestos-xs">       
                    <div class="titulos">
                        <h2>Solicit&aacute; <br> un presupuesto</h2>
                        <p>Nos comunicaremos a la brevedad</p>
                    </div>
                    
                    <div class="accesos">
                        <a href="#">
                            <img src="images/whatsapp.svg" alt="Comunicate por whatsapp" width="50">
                            <p>Whatsapp</p>
                        </a>
                        <a href="#">
                            <img src="images/email.svg" alt="Comunicate por mail" width="50">
                            <p>E-mail</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="construccion-sustentable">
                <a href="/construccion-sustentable">
                    <p>DESARROLLAMOS CONSTRUCCIÓN SUSTENTABLE. ENTERATE MÁS.</p>
                </a>
            </div>
        </div>
        
        <div class="modulo-qs">
            <div class="container">
                <h2>QUIÉNES <br>SOMOS.</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit malesuada laoreet, rutrum sem nostra luctus risus at lectus molestie, interdum dui cras ad congue ligula himenaeos lobortis. Duis cras placerat bibendum egestas scelerisque facilisis mattis, suscipit nec quis lacinia mus penatibus quam mi, velit torquent rutrum sollicitudin orci fringilla. Euismod vitae justo nulla feugiat venenatis pharetra gravida magnis diam, nibh cursus natoque taciti sapien suscipit blandit vulputate potenti, velit fames et posuere per integer dignissim etiam.
                    Justo felis non rutrum pharetra senectus eros inceptos praesent hendrerit, nisi cursus bibendum purus parturient litora condimentum euismod fermentum ac, etiam duis pellentesque cubilia convallis primis dictum diam.
                </p>
            </div>
        </div>
        <div class="imagen-destacada"></div>
    </main>
    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>