<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body id="productos">
    <%- include('partials/header') %>
    <main>
        <div class="img">
            <img src="images/productos.jpg" alt="Pampa Ingeniería" width="100%">
            <h1>PRODUCTOS.</h1>
        </div>
    </main>
    <section>
        <div class="productos">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="images/productos/producto1.jpg" alt="Producto 1" width="260">
                    </div>
                    <div class="col">
                        <img src="images/productos/producto2.jpg" alt="Producto 2" width="260">
                    </div>
                    <div class="col">
                        <img src="images/productos/producto3.jpg" alt="Producto 3" width="260">
                    </div>
                    <div class="col">
                        <img src="images/productos/producto4.jpg" alt="Producto 4" width="260">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="images/productos/producto1.jpg" alt="Producto 1" width="260">
                    </div>
                    <div class="col">
                        <img src="images/productos/producto2.jpg" alt="Producto 2" width="260">
                    </div>
                    <div class="col">
                        <img src="images/productos/producto3.jpg" alt="Producto 3" width="260">
                    </div>
                    <div class="col">
                        <img src="images/productos/producto4.jpg" alt="Producto 4" width="260">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="foliados">
            <div class="container">
                <h3>Variedad de Foliados</h3>
                <div class="row">
                    <div class="col">
                        <img src="images/foliados/foliado1.jpg" alt="Foliado 1" width="144">
                    </div>
                    <div class="col">
                        <img src="images/foliados/foliado2.jpg" alt="Foliado 2" width="144">
                    </div>
                    <div class="col">
                        <img src="images/foliados/foliado3.jpg" alt="Foliado 3" width="144">
                    </div>
                    <div class="col">
                        <img src="images/foliados/foliado4.jpg" alt="Foliado 4" width="144">
                    </div>
                    <div class="col">
                        <img src="images/foliados/foliado5.jpg" alt="Foliado 5" width="144">
                    </div>
                    <div class="col">
                        <img src="images/foliados/foliado6.jpg" alt="Foliado 6" width="144">
                    </div>
                    <div class="col">
                        <img src="images/foliados/foliado7.jpg" alt="Foliado 7" width="144">
                    </div>
                    <div class="col">
                        <img src="images/foliados/foliado8.jpg" alt="Foliado 8" width="144">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="images/foliados/foliado1.jpg" alt="Foliado 1" width="144">
                    </div>
                    <div class="col">
                        <img src="images/foliados/foliado2.jpg" alt="Foliado 2" width="144">
                    </div>
                    <div class="col">
                        <img src="images/foliados/foliado3.jpg" alt="Foliado 3" width="144">
                    </div>
                    <div class="col">
                        <img src="images/foliados/foliado4.jpg" alt="Foliado 4" width="144">
                    </div>
                    <div class="col">
                        <img src="images/foliados/foliado5.jpg" alt="Foliado 5" width="144">
                    </div>
                    <div class="col">
                        <img src="images/foliados/foliado6.jpg" alt="Foliado 6" width="144">
                    </div>
                    <div class="col">
                        <img src="images/foliados/foliado7.jpg" alt="Foliado 7" width="144">
                    </div>
                    <div class="col">
                        <img src="images/foliados/foliado8.jpg" alt="Foliado 8" width="144">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>