<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body id="quienes-somos">
    <%- include('partials/header') %>
    <main>
        <div class="img">
            <img src="images/quienes-somos.jpg" alt="Pampa Ingeniería" width="100%">
            <div class="transparencia"></div>
            <div class="container">
                <div class="textos">
                    <h1>QUIÉNES <br>SOMOS.</h1>
                    <p>
                        La visión de futuro que fundó nuestra empresa sigue tan clara como el primer día y nos guía hasta el día de hoy. Nos inspira la idea de que siempre se puede dar un paso más hacia adelante, desafiando nuestras propias capacidades con responsabilidad y compromiso.
                        La constante innovación tecnológica que obliga a mantenernos actualizados, nos ha llevado a mantener una posición de preferencia entre nuestros clientes.
                        Nuestro equipo está capacitado para el asesoramiento, desarrollo y fabricación propia de todo tipo de aberturas: ventanas, puertas corredizas, puertas dobles, portones, cerramientos con paneles de aluminio compuesto, cerramientos con policarbonato, piel de vidrio, barandas, placards, mamparas y mosquiteros. Ya sea con aluminio, PVC, o hierro.
                        Con maquinaria especializada para la fabricación de las mismas y generando un nuevo concepto, la fabricación de paneles S.I.P:
                        Autoportantes. Estructurales. Sustentables. Redefiniendo el concepto de construcción en seco, aumentando la capacidad constructiva en el corto plazo.
                    </p>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>