body{
    font-family: 'Roboto', sans-serif!important;
}

svg:hover {
    fill: red!important;
  }

/* HEADER */
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header{
    position: absolute;
    width: 100%;
    z-index: 10;
    padding: 35px 0;
}

header nav{
    padding-top: 55px;
}

header nav a{
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.45);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

header nav a:hover{
    color: #b0d154;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

header .redes a{
    color: transparent;
}

header .redes a svg:hover{
    fill: #b0d154;
}

/* MENU ACTIVO */
#quienes-somos .item1 a,
#productos .item2 a,
#nuestros-clientes .item3 a,
#construccion-sustentable .item4 a,
#presupuestos .item5 a,
#contacto .item6 a{
    color:#b0d154;
}

#contacto header .redes{
    margin:0;
}
#contacto header .redes a{
    display: inline-block;
}

/* SLIDER */
#carouselExampleIndicators{
    position: relative;
}

#carouselExampleIndicators .carousel-item img{
    height: calc(100vh - 141px);
    width: 100%;
}

#carouselExampleIndicators .carousel-item p{
    position: absolute;
    z-index: 10;
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    top: 60%;
    transform: translateY(-50%);
    width: 37%;
    left: 80px;
    font-weight: 700;
    line-height: 1;
}

#carouselExampleIndicators .container{
    position: absolute;
    top: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.presupuesto{
    background-color: #ffffff;
    position: absolute;
    right: 120px;
    top: 61%;
    transform: translateY(-50%);
    border-radius: 25px;
    padding: 30px 50px;
    -webkit-box-shadow: 5px 5px 4px 0 rgba(0,0,0,0.65);
    box-shadow: 5px 5px 4px 0 rgba(0,0,0,0.65);
}

.presupuesto h2{
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #b8cc4f;
    text-transform: uppercase;
    text-align: center;
}

.presupuesto p{
    font-size: 10px;
    color: #606060;
    text-align: center;
}

.presupuesto .accesos{
    display: flex;
    justify-content: center;
}

.presupuesto .accesos a{
    padding: 0 13px;
    color: transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.presupuesto .accesos a p{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    color: #606060;
    margin-top: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.presupuesto .accesos a:hover p{
    color: #b8cc4f;
}

/* CONSTRUCCION SUSTENTABLE */
.construccion-sustentable{
    background-color: #b0d154;
}

.construccion-sustentable a{
    display: block;
    padding: 40px 0;
    color: transparent;
    text-decoration: none;
}

.construccion-sustentable p{
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.45);
}

/* DESTACADO QUIENES SOMOS */
.modulo-qs{
    padding: 45px 0 60px;
}

.modulo-qs .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modulo-qs h2{
    font-size: 65px;
    line-height: 68px;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #606060;
    margin-right: 50px;
}

.modulo-qs p{
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.025em;
    color: #606060;
    font-weight: 400;
}

/* IMAGEN DESTACADA */
.imagen-destacada{
    background-image: url(img/destacada-pampa-ingenieria.jpg);
    background-attachment: fixed;
    background-position: top center;
    height: 400px;
}

/* SECCION QUIENES SOMOS */
.img{
    position: relative;
}

.img .transparencia{
    position: absolute;
    width: 45%;
    height: 100%;
    background-color: rgba(101, 102, 102, 0.85);
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
}

.img .textos{
    position: absolute;
    top: 62%;
    transform: translateY(-50%);
    z-index: 10;
    width: 35%;
}

.img .textos h1{
    font-size: 45px;
    line-height: 1;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.img .textos p{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.025em;
    font-weight: 400;
    color: #ffffff;
}

#productos .img h1,
#presupuestos .img h1,
#contacto .img h1,
#nuestros-clientes .img h1{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 45px;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.foliados h3{
    margin-top: 75px;
    text-align: center;
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}

.foliados .row{
    flex-wrap: nowrap;
}

.clientes,
.presupuestos{
    margin-top: 70px;
}

.clientes .row{
    margin-bottom: 20px;
}

.clientes a{
    position: relative;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.clientes a .transparencia{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6d6d6d;
    mix-blend-mode: multiply;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.clientes a .logo-cliente{
    width: 45%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.clientes a h6{
    opacity: 0;
    font-size: 14px;
    letter-spacing: 0;
    color: #ffffff;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.clientes a:hover .transparencia,
.clientes a:hover .logo-cliente,
.clientes a:hover h6{
    opacity: 1;
}

.presupuestos h2{
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #606060;
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
}
.presupuestos p,
.presupuestos ol{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.025em;
    color: #606060;
    text-align: center;
    list-style-position: inside;
}
.presupuestos div{
    text-align: center;
}
.presupuestos hr{
    height: 2px!important;
    background-color: #606060;
    margin-top: 100px;
}

#contacto h5{
    font-size: 22px;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #b8cc4f;
    margin-top: 60px;
    margin-bottom: 35px;
}

#contacto p{
    margin-top: 10px;
    margin-bottom: 35px;
}

.contacto .suc{
    text-align: center;
}

#contacto .map{
    margin-top: 25px;
}

#contacto .redes{
    margin-top: 105px;
}
#contacto .redes a{
    display: block;
    color: transparent;
    margin-bottom: 10px;
}
#contacto .redes a svg:hover{
    fill: red;
}
#contacto .qr{
    margin-top: 40px;
}
#contacto .qr img{
    width: 85%;
}

/* FOOTER */
.pre-footer{
    background-color: #ffffff;
    padding: 60px 0;
    text-align: center;
}

.pre-footer p{
    font-size: 12px;
    color: #848287;
    text-transform: uppercase;
    text-align: center;
}

.pre-footer .logos{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.pre-footer .logos img{
    margin: 0 25px;
}

.footer{
    background-color: #b0d154;
    padding: 20px 15px;
    display: flex;
    justify-content: center;
}

.footer p{
    color: #ffffff;
    font-size: 13px;
    letter-spacing: -0.025em;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}

#contacto .footer .redes,
#contacto .footer p{
    margin-top: 0;
    margin-bottom: 0;
}

/* XSMALL */
@media screen and (max-width:576px){
    .pre-footer .logos{
        flex-direction: column;
        align-items: center;
    }
    .header-xs{
        padding: 15px 0;
    }
    .header-xs .logo-xs{
        padding-left: 15px;
    }
    .header-xs .navbar-dark{
        float: right;
        padding-right: 15px;
    }
    #carouselExampleIndicators .carousel-item p{
        font-size: 25px;
    }
    #navbarToggleExternalContent{
        width: 100%;
        margin-top: 5px;
    }
    .header-xs .nav{
        flex-direction: column;
    }
    .header-xs .nav-link{
        color: #ffffff;
        text-transform: uppercase;
    }

}
/* SMALL */
@media screen and (max-width:767px){
    .header-xs{
        padding: 15px 0;
    }
    .header-xs .logo-xs{
        padding-left: 15px;
    }
    .header-xs .navbar-dark{
        float: right;
        padding-right: 15px;
    }
    #carouselExampleIndicators .carousel-item p{
        font-size: 25px;
    }
    #navbarToggleExternalContent{
        width: 100%;
        margin-top: 5px;
    }
    .header-xs .nav{
        flex-direction: column;
    }
    .header-xs .nav-link{
        color: #ffffff;
        text-transform: uppercase;
    }
}
/* MEDIUM */
@media screen and (max-width:991px){

}
/* LARGE */
@media screen and (max-width:1199px){

}
/* X-LARGE */
@media screen and (min-width:1400px){
    .img .textos{
        width: 30%;
    }
    .img .textos p{
        font-size: 15px;
    }
}

@media screen and (min-width:1700px){
    .img .textos{
        width: 25%;
    }
    .img .textos p {
        font-size: 16px;
        line-height: 1.5;
    }
    .presupuestos p, .presupuestos ol{
        font-size: 16px;
    }
    .modulo-qs h2{
        margin-bottom: 0;
    }
    .modulo-qs p{
        font-size: 18px;
        margin-bottom: 0;
    }
    .modulo-qs {
        padding: 60px 0;
    }
}